@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

html, body {
  height: 100%; /* Ensure body takes up full height */
  background: linear-gradient(to bottom, #dff0d8, white);
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #adadad;
  background: #adadad;
}

.navbar h1 {
  color: #FFFFFF;
}

.navbar .links {
  margin-right: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #FFFFFF;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home {
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; /* Avoid overlap with fixed navbar */
  box-sizing: content-box; /* Include padding and border in the element's total width and height */
}

.start {
  width: 90%; /* Make the container width responsive */
  max-width: 1200px; /* Optionally set a maximum width */
  background: rgba(255, 255, 255, 0.8); /* Light background for the content */
  padding: 30px;
  border-radius: 40px;
  box-sizing: content-box; /* Include padding and border in the element's total width and height */
}

.start h1 {
  margin-bottom: 20px; /* Add space below the h1 element */
  font-size: 4em; /* Make the h1 element larger */
}

.start p {
  font-size: larger;
}

.start.fade-in {
  opacity: 2; /* Fade to visible */
}

.learn-button button {
  background-color: #555; /* Dark button background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}

button:hover {
  background-color: #777; /* Slightly lighter on hover */
}



/* Cats */

.cats h1 {
  font-size: 4em; /* Make the h1 element larger */
  text-align: center;
}

.cat-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 300px; /* Adjust based on your needs */
  height: 300px; /* Adjust based on your needs */
  margin: 0 auto; /* Center the container */
}

.cat-image {
  width: 140px; /* Adjust size as needed */
  height: 140px; /* Adjust size as needed */
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.cat-image:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cat-image:nth-child(2) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.cat-image:nth-child(3) {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cat-image:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.cats p {
  margin-top: 60px;
  font-size: 1.2em;
  text-align: center;
}

/* About Us */
.about-content {
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box; /* Include padding and border in the element's total width and height */ 
}

.about {
  background-color: rgba(126, 126, 126, 0.24);
  margin-top: 100px;
  border-radius: 40px;  
  width: 90%; /* Make the container width responsive */
  max-width: 1200px; /* Optionally set a maximum width */
  padding: 30px;
  box-sizing: content-box; /* Include padding and border in the element's total width and height */
}

.about h1 {
 
  font-size: 4em; /* Make the h1 element larger */
  text-align: center;
}

.about p {
  text-align: center;
  font-size: 1.2em;
}

.about img {
  width: 180px; /* Adjust size as needed */
  height: auto;
  border-radius: 40px; /* Optional: add rounded corners to the logo */
  margin-top: 20px; /* Add some margin to separate it from the text */
}